<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="assets/images/logo.jpg"
      type="image/jpg"
      sizes="16x16"
    />
    <!-- #region SEO  -->
    <title>
      Call:7065502763 Pre- Primary and Primary Wing of Georgians International
      School Dholpur
    </title>
    <meta
      name="description"
      content="World Sunrise Public School (GIS) is a dream project of GAPS for Pre- Primary and Primary Wing Call:7065502763 provides an integrated 2-year NDA program and Military/Sainik/Navodaya School Entrance Exam Preparation."
    />
    <meta
      name="keywords"
      content="World Sunrise Public School, NDA 2 Year Integrated Program, X+II CBSE + NDA fully residential programme, NDA Foundation Course, Best Institute for NDA Foundation Course, 11th 12th + NDA Residential (2 Years), Best NDA Foundation coaching with schooling in India, NDA Coaching With Schooling."
    />
    <!-- #region Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-9DKEYQ2GNZ"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-9DKEYQ2GNZ");
    </script>
    <!-- #endregion -->

    <!-- #endregion -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/all.css" />
    <link rel="stylesheet" href="css/fontawesome.css" />
    <link rel="stylesheet" href="css/slick.css" />
    <link rel="stylesheet" href="css/slick-theme.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="js/slick.min.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/infiniteslidev2.js" type="text/javascript"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script
      type="text/javascript"
      charset="utf8"
      src="https://code.jquery.com/jquery-3.5.1.js"
    ></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"
    ></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.10.21/js/dataTables.semanticui.min.js"
    ></script>
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"
    ></script>
    <script src="js/ajax.js" type="text/javascript"></script>
  </head>

  <body class="contact-page">
    <div class="site-wrapper">
      <%- include('layouts/header/index')%>

      <!--#region Body container-->
      <div class="main acadmic-main">
        <!--#region Contact section-->
        <div class="section-wrap abcont_sec">
          <div class="container">
            <div class="row-flex row-gutter">
              <!--#region Content-->
              <div class="spacer span1"></div>
              <div class="abcont-wrap span10">
                <p>
                  <b>Georgians Academy for Professional Studies (GAPS)</b> was
                  established on 1st April 2013 with a passion to motivate and
                  guide the candidates in realising their dream of becoming an
                  officer in the Armed Forces. In the last 8 years this
                  institution has proved its credentials by giving best results
                  in NDA/CDS written and SSB. Today we are considered the best
                  institution for NDA/CDS written and SSB guidance in Delhi and
                  one of the best institutions in India for SSB preparation.
                  <br /><br />

                  GAPS is a dream project of Like-minded people who are alumni
                  of "King George's Royal Indian Military College" (KGRIMC)
                  presently known as Rastriya Military School, Ex Armed Forces
                  Officers and Educationists. The sole aim of establishing this
                  institution is to provide a platform to the students of
                  Rastriya Military Schools, Sainik Schools, KV and Wards of
                  Ex-army personnel where they can cherish their dream of
                  wearing uniform and serve the country and the elite Defence
                  Forces.<br /><br />

                  Our institute caters for the economically weaker section
                  candidates by charging minimum fees for quality education and
                  providing them the best opportunity to achieve success in
                  written test and SSB. We believe that quality education and
                  proper guidance is the right of every youngster. No youngster
                  should be deprived of it just because he/she doesn't have
                  resources to realise his/her dream.<br /><br />
                  <center>
                    <img
                      src="assets/images/aboutus/fouder_img.png"
                      alt=""
                      width="700"
                      height="400"
                    />
                  </center>
                  <br />

                  Since April 2013 we have taken small strides towards realising
                  bigger dreams. With three recommendations in 2013, seven in
                  2014, twelve in 2015, eighteen in 2016, twenty-seven in 2017,
                  twenty-seven in 2018, forty-eight in 2019, seventy in 2020 and
                  28 in first six months of 2021 we have given 240
                  recommendations in SSB for various entries of Army, Navy and
                  Airforce. Georgians Academy for professional studies feels
                  proud in sharing that it has been able to transform the
                  personality of thousands of students and contribute towards
                  Nation building through these youngsters and budding scholar
                  warriors. <br /><br />

                  <em><b>World Sunrise Public School (GIS) </b></em>
                  is a dream project of GAPS. The basic aim of this project is
                  to develop a feeder institution for National Defence Academy,
                  Khadakwasla and its sister academies throughout the country.
                  The school is spread over 20 Acres of land surrounded by lush
                  green flora and fauna. It has a fully residential set up
                  designed to develop the overall personality of the students
                  and groom them into the future officers and leaders of the
                  elite Armed Forces. The Campus has all the modern facilities
                  which is required to make the living of students comfortable
                  and secure. The school will provide an integrated 2-year
                  program where students will follow CBSE curriculum of X+II and
                  prepare for NDA written exam, groom their personalities
                  simultaneously on lines of Military and Sainik Schools with
                  the experience of Ex Officers who commanded them. The daily
                  routine is designed to develop Officer like qualities (OLQs)
                  in the students which will help them in clearing the SSB. We
                  strive to make this project one of the most successful
                  projects in the field of Defence preparation. Jai Hind
                </p>

                <h1 style="text-align: center">
                  "We Don't Coach, <br />
                  We develop inherent traits of personality"
                </h1>
              </div>
              <div class="spacer span1"></div>
              <!--#endregion-->
            </div>
          </div>
        </div>
        <!--#endregion-->

        <!--#region our mentor-->
        <div class="section-wrap our_mentor-wrap">
          <div
            class="bg-overlay"
            style="background-image: url(assets/images/aboutus/bg_overlay.jpg)"
          ></div>
          <div class="container">
            <div class="row-flex row-gutter">
              <!--#region Content-->
              <div class="spacer span1"></div>
              <div class="our_mentor-body span10">
                <!-- <h1 class="top_title">Our Mentor</h1> -->
                <div class="row-flex row-gutter">
                  <div class="our_mentor-item span6">
                    <div class="inner">
                      <div
                        class="img"
                        style="
                          background-image: url(assets/images/aboutus/fouder_img1.png);
                        "
                      ></div>

                      <div class="bio">
                        <h2 class="title">Founder/Director</h2>
                        <h5>Kunwar pratap singh</h5>
                      </div>
                    </div>
                  </div>

                  <div class="our_mentor-item span6">
                    <div class="inner">
                      <div
                        class="img"
                        style="
                          background-image: url(assets/images/aboutus/fouder_img2.png);
                        "
                      ></div>

                      <div class="bio">
                        <h2 class="title">Co founder/ Psychologist</h2>
                        <h5>Deepak Kumar Prasad</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="spacer span1"></div>
            </div>
          </div>
        </div>
        <!--#endregion-->
      </div>
      <!--#endregion-->

      <%- include('layouts/footer/index')%>
    </div>
  </body>
</html>
